/* body {
    background-color: aqua;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo {
    font-size: 45px;
    font-weight:bolder;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18.28px 35px 19.3px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* cursor pointer is used to change the cursor style */
}    
.btn-two{
    background-color: white;
    border: solid 1px, #FD6E0A ;
    padding: 17.28px 35px 18.3px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    cursor: pointer;
    /* cursor pointer is used to change the cursor style */
} 
/* main style */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url(../images/header_bg.png), #fff8f3;
    /* this attribute is used to use multiple images all at once */
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right  ;
    /* this attribute is used to margin basically of background images all at once */
    padding: 51px ;
}

nav {
   width: 71.25%;
   max-width: 1140px;
   margin: 0px auto; 
   /* what auto does is it takes your given pixel from all side equally */
   display: flex;
   /* flex makes your content to stay side by side */
   justify-content: space-between;
   /* this attribute justifies your content, by giving space between, the texts will take maximum gap in between them */
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image img{
    max-width: 585px ;
    vertical-align: middle;
    /* this attribute is used to not keep any gap in between bottom */
}

#about , #skills , #resume{
    padding: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-info{
    display: flex;
    justify-content: space-around;
}

.info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h4{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
} 

.skill-box{
    display: flex;
    padding-top: 50px;
    gap: 40px;
}

.skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px rgba(17, 17, 17, 0.062) ;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    max-width: 201px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.card-title{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.card-info{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
}
.card-text{
    margin-top: 20px;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
hr{
    margin: 30px 0px;
}
.text-align{
    text-align: center;
    margin-top: 50px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px
}
.footer-container{
    display: flex;
    width: 71%;
    max-width: 1139px;
    margin: 0px auto;
    gap: 116px;
}
.social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin: 20px 0px 30px 0px;
}
.icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.margin-top-input{
    margin-top: 28px;
}